export(as.darray)
export(dimmeta)
export(`dimmeta<-`)
export(rowmeta)
export(`rowmeta<-`)
export(colmeta)
export(`colmeta<-`)
export(darray)
export(is.darray)
S3method(as.darray, default)
S3method(as.darray, darray)
S3method(as.array, darray)
S3method(print, darray)
S3method(`[`, darray)
S3method(rbind, darray)
S3method(cbind, darray)
S3method(`dim<-`, darray)
S3method(dimmeta, default)
S3method(`dimmeta<-`, default)
S3method(rowmeta, default)
S3method(`rowmeta<-`, default)
S3method(colmeta, default)
S3method(`colmeta<-`, default)
