export(as.marray)
export(dimdata)
export(`dimdata<-`)
export(rowdata)
export(`rowdata<-`)
export(coldata)
export(`coldata<-`)
export(marray)
export(is.marray)
S3method(as.marray, default)
S3method(as.marray, marray)
S3method(as.array, marray)
S3method(print, marray)
S3method(`[`, marray)
S3method(rbind, marray)
S3method(cbind, marray)
S3method(dimdata, default)
S3method(`dimdata<-`, default)
S3method(rowdata, default)
S3method(`rowdata<-`, default)
S3method(coldata, default)
S3method(`coldata<-`, default)
import(ppTools)
