export(darray)
export(is.darray)
S3method(as.darray, default)
S3method(as.darray, darray)
S3method(as.array, darray)
S3method(print, darray)
S3method(rbind, darray)
S3method(cbind, darray)
S3method(metabind, default)
S3method(metabind, list)
S3method(metabind, matrix)
S3method(metabind, data.frame)
S3method(`[`, darray)
S3method(`dim<-`, darray)
export(as.darray)
export(dimmeta)
export(`dimmeta<-`)
export(rowmeta)
export(`rowmeta<-`)
export(colmeta)
export(`colmeta<-`)
export(unmeta)
export(metalength)
export(`metanames<-`)
export(metasubset)
export(metabind)
S3method(dimmeta, default)
S3method(`dimmeta<-`, default)
S3method(rowmeta, default)
S3method(`rowmeta<-`, default)
S3method(colmeta, default)
S3method(`colmeta<-`, default)
S3method(unmeta, default)
S3method(metalength, default)
S3method(`metanames<-`, default)
S3method(metasubset, default)
